
$brown-grey: #858585;
$pink-red: #ff0a5d;
$brown-grey: #7e7e7e;
$pale-grey: #f1f4f8;
$warm-grey: #707070;
$twilight-blue: #0c4b7a;
$light-navy-blue: #2c347a;
$rich-blue: #001aff;
$blueberry: #363378;
$slate-grey: #58585a;
$dark-blue-grey: #242956;
$warm-grey-two: #777;
$blueberry-two: #353277;
$white: #fff;
$aqua-blue: #00bce9;
$dusk-blue-28: rgba(43, 53, 136, 0.28);
$white-two:#d5d5d5;

.bg-brown-grey{
  background-color:$brown-grey;
}
.bg-pink-red{
  background-color:$pink-red;
}
.bg-brown-grey{
  background-color:$brown-grey;
}
.bg-pale-grey{
  background-color:$pale-grey;
}
.bg-warm-grey{
  background-color:$warm-grey;
}
.bg-twilight-blue{
  background-color:$twilight-blue;
}
.bg-light-navy-blue{
  background-color:$light-navy-blue;
}
.bg-rich-blue{
  background-color:$rich-blue;
}
.bg-blueberry{
  background-color:$blueberry;
}
.bg-slate-grey{
  background-color:$slate-grey;
}
.bg-dark-blue-grey{
  background-color:$dark-blue-grey;
}
.bg-warm-grey-two{
  background-color:$warm-grey-two;
}
.bg-blueberry-two{
  background-color:$blueberry-two;
}
.bg-white{
  background-color:$white;
}
.bg-aqua-blue{
  background-color:$aqua-blue;
}


.fc-brown-grey{
  color:$brown-grey;
}
.fc-pink-red{
  color:$pink-red;
}
.fc-brown-grey{
  color:$brown-grey;
}
.fc-pale-grey{
  color:$pale-grey;
}
.fc-warm-grey{
  color:$warm-grey;
}
.fc-twilight-blue{
  color:$twilight-blue;
}
.fc-light-navy-blue{
  color:$light-navy-blue;
}
.fc-rich-blue{
  color:$rich-blue;
}
.fc-blueberry{
  color:$blueberry;
}
.fc-slate-grey{
  color:$slate-grey;
}
.fc-dark-blue-grey{
  color:$dark-blue-grey;
}
.fc-warm-grey-two{
  color:$warm-grey-two;
}
.fc-blueberry-two{
  color:$blueberry-two;
}
.fc-white{
  color:$white;
}
.fc-aqua-blue{
  color:$aqua-blue;
}
