.fs-1 {
  font-size: 24px;
}

.fs-2 {
  font-size: 20px;
}

.fs-3 {
  font-size: 18px;
}

.fs-4 {
  font-size: 16px;
}

.fs-5 {
  font-size: 14px;
}

.fs-6 {
  font-size: 12px;
}

.fs-7 {
  font-size: 10px;
}

.fs-8 {
  font-size: 8px;
}

.fw-thin {
  font-weight: 100;
}
.fw-extra-light {
  font-weight: 200;
}
.fw-light {
  font-weight: 300;
}
.fw-regular {
  font-weight: 400;
}
.fw-medium {
  font-weight: 500;
}
.fw-semi-bold {
  font-weight: 600;
}
.fw-bold {
  font-weight: 700;
}
.fw-extra-bold {
  font-weight: 800;
}
.fw-heavy {
  font-weight: 900;
}









