$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$heavy: 900;
$fs1: 24px;
$fs2: 20px;
$fs3: 18px;
$fs4: 16px;
$fs5: 14px;
$fs6: 12px;
$fs7: 10px;
$fs8: 8px;

.fs-1 {
  font-size: $fs1;
}

.fs-2 {
  font-size: $fs2;
}

.fs-3 {
  font-size: $fs3;
}

.fs-4 {
  font-size: $fs4;
}

.fs-5 {
  font-size: $fs5;
}

.fs-6 {
  font-size: $fs6;
}

.fs-7 {
  font-size: $fs7;
}

.fs-8 {
  font-size: $fs8;
}

.fw-thin {
  font-weight: $thin;
}
.fw-extra-light {
  font-weight: $extra-light;
}
.fw-light {
  font-weight: $light;
}
.fw-regular {
  font-weight: $regular;
}
.fw-medium {
  font-weight: $medium;
}
.fw-semi-bold {
  font-weight: $semi-bold;
}
.fw-bold {
  font-weight: $bold;
}
.fw-extra-bold {
  font-weight: $extra-bold;
}
.fw-heavy {
  font-weight: $heavy;
}









