
@import "~@/assets/scss/variables/color.scss";
@import "~@/assets/scss/variables/font.scss";

@import "~@/assets/scss/commons/button/color.scss";

@font-face {
  font-family: "SUIT";
}

.user-chip {
  background-color: $white !important;
  color: $cornflower;
  border: 1px solid $cornflower;

  .user-chip-type {
    background-color: $cornflower;
    color: white;
  }
}
.login_btn {
  background-color: $light-navy-blue;
}
.v-application {
  font-family: 'SUIT', sans-serif !important;
}
.icon-size{
  width:32px;
  height:32px;
}

.frozen-table-column{
  position: sticky !important;
  width: 5em !important;
  left: 0 !important;
  top: auto !important;
  z-index: 1 !important;
  background-color:white !important;
}

$text-field-filled-full-width-outlined-single-line-slot-min-height: 30px !default;
$text-field-solo-dense-control-min-height: 20px!default;
